body{
    font-family: Cambria;
}
.header{
    height: 10vh;
    width: 100%;
    padding: flex;
    background-color: #212121;
    position: relative;
    border-bottom: 5px solid #99a211;
}

.nav-links{
    padding: flex;
    margin-right: 15cm;

}


.formulaire{
    background: #d1d361;
    border-radius: 10px;
    padding: flex;
    width: 700px;
    padding-left: 100px;
    padding-bottom: 3px;
}

.formnom{
    position: absolute;
    display: flex; 
    margin-top: 10px;
    width: 5cm;
    margin-left: 2cm;
}

.formprenom{
    position: absolute;
    display: flex; 
    margin-top: 100px;
    width: 5cm;
    margin-left: 2cm;

}

.formpseudo{
    position: absolute;
    display: flex; 
    margin-top: 190px;
    width: 5cm;
    margin-left: 2cm;
}

.formmail{
    position: absolute;
    display: flex; 
    margin-left: 9cm;
    margin-top: 10px;
    width: 5cm;

}

.formmdp{
    display: flex;
    margin-left: 4.5cm;
    padding-top: 100px;
    width: 5cm;
 
}

.formlevel{
    display: flex;
    width: 5cm;
    margin-left: 5cm;
    padding-top: 0px;
    margin-bottom: 1cm;
    
}


.g-recaptcha{
    display: flex;
    margin-left: 4cm;
}

.footer{
    margin-top: 300px;
    width: 100%;
    padding: flex;
    background: #212121;
    color: #efefef;
    display: flex;
    border-top: 5px solid #99a211;
}

.footer div{
    text-align: center;
}

.col-2{
    margin-right: 250px;
    flex-grow: 2;
    line-height: 40px;
}


.footer div h3{
    font-weight: 300;
    margin-bottom: 100px;
    letter-spacing: 1px;
    margin-right: 70px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 30px;
    margin-left: 150px;

}

.col-1 h3{
    margin-left: 150px;
    display: flex;
    margin-top: 50px;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;

}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

nav{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.logoinscription1{
    width: 10cm;
    height: auto;
    padding-left: 15cm;
}

.logoinscription2{
    width: 10cm;
    height: auto;
    padding-left: 0%;
}

.nav-links li{
    display: inline-block;
    margin: 10px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background:#99a211;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;

}

.sinscrire{
    color: #fff;
    background: #99a211;
    padding: 10px 30px; 
    border-radius: 5px;
    cursor: pointer;
}

.validerinscription{
    color: #fff;
    background: #33a211;
    padding: 10px 30px; 
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2.6cm;
}